:root {
    --app-primary-dark: #390958;
    --app-green: hsl(171, 100%, 41%);
    --app-secondary: #910835;
    --app-dark: #2a2a2a;
    --app-light: #ffffff;
    --app-darklight: #ebedf2;
    --app-darklight2: #bebdbd;
    --app-error: #d42e47;
    --app-warning: #f1600c;
    --app-success: #9ebf6b;
    --app-info: hsl(198deg, 100%, 70%);
}